// Override EDGE variables here
// To override, uncomment the variable and set the new value

// -------
// FONT
// -------
$header-font-family : "Roboto", "Courier", "Courier New", "sans-serif";
$body-font-family   : "Roboto", "Courier", "Courier New", "sans-serif";
// $code-font-family   : "Consolas", Courier, "monospace";

// --------------------------------
//   COLORS
// --------------------------------

$main-color : #bd653d;
$sub-color  : #9fc6b3; 
$yellow		: #e5b841;

// ----------------
// OUTPUT CONFIG
// ----------------
$responsive : true;

// $include-tile       : true;
$include-visibility : true;
$include-button     : true;

$include-animate : true;
// $include-print   : false;
// $include-code    : false;

// ---------------
// GLOBAL VALUE
// ---------------
// $g-radius : 3px;
$g-transition : all .3s ease-in-out;
// --------
// GRID
// --------
$row-max-width : 1220px;
$total-columns : 6;
$column-gutter : 60px;

// ------------
// TILE
// ------------
$max-tiles   : 4;
// $tile-gutter : 15px;

// ------
// BODY
// ------
$body-background  : #f7f7f7;
$body-font-color  : #444;
// $body-font-weight : 400;

$body-font-size   : 14px;
// $body-line-height : 1.5;

// ---------------
// TYPOGRAPHY
// ---------------
$h1-font-size : 32px;
$h2-font-size : 28px;
$h3-font-size : 24px;
$h4-font-size : 18px;
$h5-font-size : 16px;
$h6-font-size : 15px;

$header-font-color  : #222;
// $header-font-weight : 300;

$p-margin-bottom  : 13px;

// -------------------
// MEDIA QUERIES
// -------------------
$mini-screen   : 480px;
$small-screen  : 767px;
$md-screen	   : 1000px;
$large-screen  : 1440px;
// $retina-screen : 192dpi;

// -----------------
// CODE Highlighter
// -----------------
// $code-theme  : light;  // "light" or "dark"

// ----------
// BUTTON
// ----------
// $button-color : $main-color;

// ------------------
// TEXT DIRECTION
// ------------------
// $text-direction   : ltr;  // Controls default global text direction, 'rtl' or 'ltr'