@import "setting";
@import "icons";
@import "edge/helpers";

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	
	@media screen and (max-width: $small-screen) {
		@include transform(translate(0, 0));
		@include transition(ease-in-out 0.5s -webkit-transform);
		
		&.offset {
			@include transform(translate(-50%, 0));
			overflow: hidden;
		}
	}
}

h1, h2, h3 {
	text-transform: uppercase;
}

a {
	@include transition($g-transition);
}

button, .button, input[type="submit"], input[type="reset"] {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 5px 15px;
  font-size: 14px;
  @include border-radius(0);

  &:hover {
  	background-color:#888;
  }
}

/* HEADER */
.single-film #menu-item-125 {
	color:white;
}

header.banner {
	position:fixed;
	top:0;
	left:0;
	z-index: 9999;
	padding:0 20px;
	width: 100%;
	background:#222;
	
	.brand h1 {
		float: left;
		margin-top: 8px;
		color: #FFF;
		font-weight: 600;
		font-size: 16px;
	}
	
	.menu {
		float:right;
	}

	nav .social {
		float: right;
		a {
			font-size:22px;
			color:rgba(white,0.75);
			top:2px;
			position: relative;
		}
		a:hover {
			color:white;
		}
	}

	nav ul {
		list-style: none;

		li {
			@include transition($g-transition);
			float:left;
			padding:10px 0;
			color:rgba(white,0.6);

			&:hover, &.current-menu-item {
				color:white;
			}

			a {
				padding:10px 15px;
				color:inherit;
				text-transform: uppercase;
				font-weight: 900;
				font-size: 13px;
			}

			&.menu-item-has-children:hover > .sub-menu {
				height:auto;
			}

			.sub-menu {
				height:0;
				overflow: hidden;
				position: absolute;
				background: #222;
				margin-top:10px;
				@include transition(0.3s ease-in-out height);

				&:hover {
					height: auto;
				}

				li {
					float: none;
					padding:10px 5px;

					&:hover, &.current-menu-item {
						@include box-shadow(inset 0 0 20px -3px rgba(0, 0, 0, 0.4));
					}
				}
			}
		}
	}
}

.menu-toggle {
	display: none;
}

@media screen and (max-width: $small-screen) {
	header.banner {
		padding:5px 20px 15px;
	
		.menu-toggle {
		  position: absolute !important;
		  top:0;
		  right:0;
			display: block;
		}
		
		.menu {
			@include transition(ease-out 0.5s right);
			position: fixed;
			top: 0;
			right: -50%;
			z-index: 9999;
			width: 50%;
			height: 100%;
			background: #353535;
		}

		nav .social {
			right: -25%;
			position: fixed;
			z-index: 99999;
			bottom: 32px;
			@include transform(translate(50%,0));

			a {
				font-size:24px;
				padding:4px;
			}

		}
	
		nav ul {
			li > .sub-menu {
				height: auto;
				position: relative;
				margin-bottom: -10px;
				li {
					background: #444;
				}
				li > a {
					white-space: nowrap;
				  	overflow: hidden;
				  	text-overflow: ellipsis;
				}
			}

			li {
				float: none;
				width: 100%;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				background:#353535;
				cursor: pointer;
				
				&.current-menu-item, &:hover {
					@include box-shadow(inset 0 0 20px -3px rgba(0, 0, 0, 0.4));
					background:#272727 !important;
				}
				
				a {
					padding:10px 35px;
				}
			}
		}
	}
}

/* MISC */

.film-teal {
	background-color: $sub-color;
}

.film-yellow {
	background-color: $yellow;
}

.film-red {
	background-color: $main-color;
}

.film-black {
	background-color: #222;
}

.landing {
	margin-top:41px;
	margin-bottom: -41px;
	width:100%;
	height:100%;

	.film {
		position:relative;
    display:inline-block;
		float:left;
   	overflow:hidden;
		width: calc(100% / 3);
		height: calc((100% - 40px) / 3);
   	cursor: pointer;

  	&.film-black {
  		cursor: auto;
  		pointer-events:none;
  	}

    h1.slogan {
    	@include transform(translate(-50%, -50%));
    	position: absolute;
    	top: 50%;
    	left:50%;
    	width: 100%;
    	color:white;
    	text-align: center;
    	text-transform: uppercase;
    	letter-spacing: 0.05em;
    	font-weight: 900;
    	font-size: 28px;
    	line-height: 1.3;
    }

    .logo {
    	@include transform(translate(-50%, -50%));
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	padding: 40px;
    }

		.avatar {
	    @include transform(translate(-50%, 0));
			@include transition($g-transition);
			position:absolute;
	    bottom:-5px;
	    left:50%;
	    display:block;
	    max-width:100%;
	    max-height:80%;	    
		}

		&:hover .avatar {
			bottom:0;
		}

		.avatar.pop {
			@include transform(scale(1.3)translate(-10%, 0));
		}
	}

	@media screen and (max-width: $md-screen) {
		margin:0;
		
		article.film {
			width: calc(100% / 2);
			height: calc(100% / 2);
		}

		.film.active {
			z-index: 999;
		}
		
		.film .avatar {
			max-width: 120%;
			max-height: 90%;
		}
		
		.film-black {
			display:none;
		}
	}

	.modal {
		position:absolute;
		top: calc((100% - 40px) / 3);
		right:0;
		z-index: 999;
		visibility: hidden;
		width:calc((100% / 3) * 2);
		height: calc((100% - 40px) / 3);
		background:#222;
		color:white;

		.still {
			float: left;
			width: 50%;
			height: 100%;
			background-size:cover;
			background-repeat: no-repeat;
		}

		.meta {
			position: relative;
			float: left;
			width: 50%;
			height: 100%;
			text-align: center;

			.vh-center {
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%,-50%));
				width: 100%;
				padding: 25px;
			}

			h2 {
	    	color:white;
	    	text-align: center;
	    	text-transform: uppercase;
	    	letter-spacing: 0.05em;
	    	font-weight: 900;
				font-size: 24px;
	    	line-height: 1.3;
			}

			.details {
				margin:6px 0 30px;
				color: #999;
				text-align: center;
				text-transform: uppercase;
				font-size: 14px;
			}
			
			.modal-close {
				position: absolute;
				top:-36px;
				right:0;
				padding:6px 12px;
				background:#333;
				color:white;
				font-size: 24px;
				line-height: 1;
				z-index: 9999;
			}
		}
		
		@media screen and (max-width: $md-screen) {
			position: fixed;
			top:0;
			right:0;
			left:0;
			z-index:99999;
			width:100%;
			height: 100%;
			
			.still, .meta {
				float:none;
				width: 100%;
			}	
			
			.still {
				height:60%;
				background-position: center center;
			}
			.meta {
				height:40%;
			}
		}
	}
}

.slogan-alt {
	display: none;
	
	@media screen and (max-width: $md-screen) {
		display: block;
		padding:100px 20px;
		background: #ebe3e0;
		text-align: center;
		
		h2 {
			margin-top:40px;
			color:#333;
    	letter-spacing: 0.05em;
    	font-weight: 900;
			font-size: 28px;
    	line-height: 1.3;
		}
	}
}

/* PAGE HEAEDER */
header.page-header.orange {
	background: $main-color;
}

header.page-header {
	margin-top:40px;
	padding-top:50px;
	width: 100%;
	background: $sub-color;
	padding-bottom: 20px;
	
	h1 {
		letter-spacing: 0.05em;
		font-weight:700;
		color:white;
		padding-left:30px;
		padding-right:30px;
	}
	
	.meta {
		color:rgba(black,0.5);
		font-weight:300;
		font-size:15px;
		padding-left:30px;
		padding-right:30px;
	}
	
	figure {
		padding-top:10px;
		margin-bottom:-20px;
	}

	@media screen and (max-width: $small-screen) {
		margin-top:0;
		padding-top:90px;
	}
}

/* SINGLE FILM */
.film-single {
	.content {
		background: white;
			
		.synopsis {
			padding-top:20px;
			padding-bottom:60px;
			background: white;
			
			p {
				text-align: justify;
			}
		}
		
		h2 {
			padding-bottom: 20px;
		}
		
		h3 {
			display: inline-block;
			clear: both;
			margin-bottom: 20px;
			color: rgba(0, 0, 0, 0.7);
		}
		
		.sidebar {
			padding-bottom:60px;
			background: $yellow;
			
			.float {
				float: left;
				width: 50%;
			}
			
			label {
				margin:0;
				padding:0;
				color: rgba(black,.3);
				text-transform: uppercase;
				font-weight: 700;
				font-size:11px;
			}
			
			.screening {
				margin-top:20px;
			}
			.schedule {
				margin-top:20px;
				
				.righty {
					float:left;
					padding-left:15px;

					p {
						color: rgba(black, 0.75);
						font-weight: 600;
					}
				}
				
				.lefty {
					float:left;
					padding-right:15px;
					border-right: 2px solid rgba(255, 255, 255, 0.3);
					
					p {
						color: rgba(black, 0.25);
						font-weight: 600;
						font-size:12px;
						line-height: 21px;
						cursor:default;
						
						&:after {
							@include border-radius(100%);	
							@include transition($g-transition);
							position: absolute;
							margin-top: 4px;
							margin-left: 9px;
							width: 14px;
							height: 14px;
							border: 2px rgba(white, 0.6) solid;
							background: $yellow;
							content: '';
						}
						
						&:hover:after {
							border-color:white;
							background: $sub-color;
						}
					}
				
					label {
						opacity: 0;
						width:1px;
						overflow: hidden;
					}
				}
				
				.show {
					clear:both;
				}
			}
			
			p.detail {
				margin-bottom: 7px;
				color: rgba(0, 0, 0, 0.7);
			}
			
			.cta {
				@include transition($g-transition);
				margin:10px 0;
				padding:10px;
				width:100%;
				background: $main-color;
				cursor:pointer;
				
				&:hover {
					opacity: 0.9;
				}
			}
			
			.button.big {
				@include border-radius(0);
				padding: 16px 10px;
				width: 100%;
				border: 1px solid white;
				background: transparent;
				letter-spacing: 0.05em;
				font-size: 18px;
				line-height: 1.2;
			}

		}
	}
}

.post-30 p.f30:after, .post-28 p.f28:after, .post-24 p.f24:after, .post-22 p.f22:after, .post-32 p.f32:after, .post-34 p.f34:after, .post-26 p.f26:after {
	background: $sub-color !important;
	border-color:white;
}

/* ABOUT */
.about-copy {
	padding:30px 0;
	p {
		text-align: justify;
		font-size: 16px;
	}
	p:first-child {
		font-weight:300;
		font-size:21px;
	}
}

.about-section {
	header {
		background:$yellow;
		padding-top: 20px;
		padding-bottom: 20px;
		
		h2 {
			color: rgba(black, 0.8);
			padding-left:30px;
			padding-right: 30px;
		}
	}
}

.festival-team {
	.photos {
		padding:30px;

		img {
			@include border-radius($g-radius);
		}

		p {
			margin: 10px 5px 20px;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
}

/* SCHEDULE */
.schedule {
	margin-top: 50px;

	.day {
		padding:5px;
		text-align: center;

		.day-container {
			background: white;
			padding:20px;
		}

		h3 {
			line-height: 1.3;
			font-size: 32px;
		}

		h4 {
			text-transform: uppercase;
			font-size: 14px;
			color: #888;
			margin: 5px 0 20px;
			letter-spacing: 1px;
			font-weight: 400;
		}

		h5 {
			text-transform: uppercase;
			font-weight: 400;
			font-size:14px;
			letter-spacing: 0.4px;
		}

		.event {
			text-align: center;
			background: #f8f8f8;
			margin-bottom: 20px;
			padding-bottom:15px;

			&:hover [class*="film-"] > img, &:hover [class^="film-"] > img {
				bottom:0;
			}

			[class*="film-"], [class^="film-"] {
				height: 190px;
				overflow: hidden;
				text-align: center;
				position: relative;

				img {
					position: absolute;
					bottom:-4px;
					left: 50%;
					max-width: 100%;
					max-height: 80%;
					@include transform(translate(-50%,0));
					@include transition($g-transition);
				}
			}

			p.title {
				text-transform: uppercase;
				font-weight: 600;
				font-size: 16px;
				letter-spacing: 0.3px;
				color: #444;
				padding-top: 12px;
			}

			p {
				color:#888;
				margin-bottom: 2px;
			}
		}
	}
}

.ticketing, .venue {
	padding-top: 50px;
	padding-bottom: 50px;
}

h3.red, h3.yellow, h3.teal {
	padding: 5px 10px;
	margin-bottom:20px;
	color:white;
	display: inline-block;
	font-size:24px;
}

h3.yellow {
	background: $yellow;
}

h3.teal {
	background: $sub-color;
}	

h3.red {
	background: $main-color;
}

/* VENUE */
.venue {
	iframe {
		margin-bottom: 20px;
	}

	h4 {
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 1px;
	}
}

/* FESTIVAL EVENTS */
.festival-events {
	margin-top:30px;

	.content {
		background: white;
		padding:20px;

		h2 {
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			line-height: 1.3;
		}

		h4 {
			font-weight: 300;
			text-transform: uppercase;
			color:#888;
			font-size: 14px;
			margin: 10px 0;
		}

		hr {
			border-top: 3px solid #333;
			margin-top: 60px;
		}
	}
}

/* FOOTER */
.basement {
	padding:20px 0;
	width:100%;
	background: #eee;
	
	.logo {
		@include transition($g-transition);
		opacity: 0.65;
		
		&:hover {
			opacity: 1;
		}
	}
	
	p.copy {
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: 700;
		font-size: 16px;
		line-height: 30px;
		opacity: 0.25;
	}
}

/* ANIMATED MENU TOGGLE */
@media screen and (max-width: $small-screen) {
.hamburglar {
  position: relative;
  display: block;
  width:68px;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.burger-icon {
  position: absolute;
  padding: 20px 16px;
  width: 68px;
  height: 68px;
}

.burger-container {
  position: relative;
  width: 36px;
  height: 28px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  width: 36px;
  height: 4px;
  border-radius: 2px;
  background: white;
}

.burger-bun-top {
  top: 0;
  -webkit-transform-origin: 34px 2px;
  -ms-transform-origin: 34px 2px;
  transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  -webkit-transform-origin: 34px 2px;
  -ms-transform-origin: 34px 2px;
  transform-origin: 34px 2px;
}

.burger-filling {
  top: 12px;
}

.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.svg-ring {
  width: 68px;
  height: 68px;
}

.hamburglar.is-open .burger-bun-top {
  -webkit-animation: bun-top-out 0.6s linear normal;
  animation: bun-top-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hamburglar.is-open .burger-bun-bot {
  -webkit-animation: bun-bot-out 0.6s linear normal;
  animation: bun-bot-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-top {
  -webkit-animation: bun-top-in 0.6s linear normal;
  animation: bun-top-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hamburglar.is-closed .burger-bun-bot {
  -webkit-animation: bun-bot-in 0.6s linear normal;
  animation: bun-bot-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes bun-top-out {
  0% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  80% {
    top: 0;
    left: -5px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  100% {
    top: 1px;
    left: -5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes bun-top-out {
  0% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  80% {
    top: 0;
    left: -5px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  100% {
    top: 1px;
    left: -5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes bun-top-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bot: 0;
  }

  20% {
    left: -5px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    bot: 0;
  }

  80% {
    left: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    bot: 0;
  }

  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    bot: 1px;
  }
}
@keyframes bun-top-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bot: 0;
  }

  20% {
    left: -5px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    bot: 0;
  }

  80% {
    left: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    bot: 0;
  }

  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    bot: 1px;
  }
}
@-webkit-keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  20% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    bot: 0;
  }

  80% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    bot: 0;
  }

  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  20% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    bot: 0;
  }

  80% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    bot: 0;
  }

  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.hamburglar.is-open .burger-filling {
  -webkit-animation: burger-fill-out 0.6s linear normal;
  animation: burger-fill-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
  -webkit-animation: burger-fill-in 0.6s linear normal;
  animation: burger-fill-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes burger-fill-in {
  0% {
    left: 36px;
    width: 0;
  }

  40% {
    left: 40px;
    width: 0;
  }

  80% {
    left: -6px;
    width: 36px;
  }

  100% {
    left: 0px;
    width: 36px;
  }
}

@keyframes burger-fill-in {
  0% {
    left: 36px;
    width: 0;
  }

  40% {
    left: 40px;
    width: 0;
  }

  80% {
    left: -6px;
    width: 36px;
  }

  100% {
    left: 0px;
    width: 36px;
  }
}
@-webkit-keyframes burger-fill-out {
  0% {
    left: 0px;
    width: 36px;
  }

  20% {
    left: -6px;
    width: 42px;
  }

  40% {
    left: 40px;
    width: 0;
  }

  100% {
    left: 36px;
    width: 0;
  }
}
@keyframes burger-fill-out {
  0% {
    left: 0px;
    width: 36px;
  }

  20% {
    left: -6px;
    width: 42px;
  }

  40% {
    left: 40px;
    width: 0;
  }

  100% {
    left: 36px;
    width: 0;
  }
}
}