/* ------------------------------------------
- EDGE Framework - github.com/HennerS/Edge
- v1.2.9 (Ezalor)
------------------------------------------ */
/* ----------------
  EDGE Normalize
---------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, body {
  margin: 0;
  padding: 0; }

body {
  height: 100%; }

body {
  -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix {
  from {
    padding: 0; }

  to {
    padding: 0; } }

html {
  height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  cursor: pointer;
  text-decoration: none; }

a:focus {
  outline: none; }

a:active, a:hover {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc; }

img {
  border: 0;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

address, cite {
  font-style: normal; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  height: auto;
  min-height: 50px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Miscellaneous useful HTML classes */
.left {
  float: left !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none !important;
  visibility: hidden !important; }

.visual-hide {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.bold, b, strong {
  font-weight: 700 !important; }

.italic, em {
  font-style: italic !important; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

/* -----------------
  EDGE Typography
----------------- */
body {
  position: relative;
  background: #f7f7f7;
  font-size: 14px;
  font-family: "Roboto", "Courier", "Courier New", "sans-serif";
  font-weight: 400;
  line-height: 1.5;
  color: #444444; }

h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: "Roboto", "Courier", "Courier New", "sans-serif";
  font-weight: 700; }

a {
  color: #bd653d; }

h1 {
  font-size: 2.28571em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.71429em; }

h4 {
  font-size: 1.28571em; }

h5 {
  font-size: 1.14286em; }

h6 {
  font-size: 1.07143em; }

p {
  margin-top: 0;
  margin-bottom: 13px; }

.inline-list {
  zoom: 1; }
  .inline-list:before, .inline-list:after {
    content: " ";
    display: table; }
  .inline-list:after {
    clear: both; }
  .inline-list > li {
    display: inline-block;
    float: left;
    vertical-align: top; }

ul {
  list-style-type: disc;
  padding-left: 20px; }
  ul[class] {
    list-style-type: none;
    padding-left: 0; }
  ul ul {
    list-style-type: circle; }

ol {
  list-style-type: decimal;
  padding-left: 25px; }
  ol ol {
    list-style-type: lower-alpha; }

blockquote {
  margin-bottom: 13px; }
  blockquote cite {
    display: block;
    font-style: italic; }

/* ------------
  EDGE Grid
------------ */
.row {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse {
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    max-width: 1220px; }
    .row.collapse .row {
      margin: 0;
      padding-right: 0;
      padding-left: 0;
      width: auto;
      max-width: none; }
    .row.collapse .column,
    .row.collapse .columns {
      padding-right: 0;
      padding-left: 0; }
  .row .row {
    margin-right: -30px;
    margin-left: -30px;
    width: auto;
    max-width: none; }
    .row .row.collapse {
      margin: 0;
      padding-right: 0;
      padding-left: 0;
      width: auto;
      max-width: none; }

.column,
.columns {
  position: relative;
  float: left;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%; }

.large-1 {
  width: 16.66667%; }

.large-2 {
  width: 33.33333%; }

.large-3 {
  width: 50%; }

.large-4 {
  width: 66.66667%; }

.large-5 {
  width: 83.33333%; }

.large-6 {
  width: 100%; }

.column.large-centered,
.columns.large-centered,
.column.centered,
.columns.centered {
  display: block;
  float: none;
  margin-right: auto !important;
  margin-left: auto !important; }

@media only screen and (min-width: 768px) {
  .large-offset-1,
  .offset-1 {
    margin-left: 16.66667%; }

  .push-1 {
    left: 16.66667%;
    right: auto; }

  .pull-1 {
    right: 16.66667%;
    left: auto; }

  .large-offset-2,
  .offset-2 {
    margin-left: 33.33333%; }

  .push-2 {
    left: 33.33333%;
    right: auto; }

  .pull-2 {
    right: 33.33333%;
    left: auto; }

  .large-offset-3,
  .offset-3 {
    margin-left: 50%; }

  .push-3 {
    left: 50%;
    right: auto; }

  .pull-3 {
    right: 50%;
    left: auto; }

  .large-offset-4,
  .offset-4 {
    margin-left: 66.66667%; }

  .push-4 {
    left: 66.66667%;
    right: auto; }

  .pull-4 {
    right: 66.66667%;
    left: auto; }

  .large-offset-5,
  .offset-5 {
    margin-left: 83.33333%; }

  .push-5 {
    left: 83.33333%;
    right: auto; }

  .pull-5 {
    right: 83.33333%;
    left: auto; } }
@media only screen and (max-width: 767px) {
  .column,
  .columns {
    width: 100%; }

  .small-1 {
    width: 16.66667%; }

  .small-2 {
    width: 33.33333%; }

  .small-3 {
    width: 50%; }

  .small-4 {
    width: 66.66667%; }

  .small-5 {
    width: 83.33333%; }

  .small-6 {
    width: 100%; }

  .small-offset-1 {
    margin-left: 16.66667%; }

  .small-offset-2 {
    margin-left: 33.33333%; }

  .small-offset-3 {
    margin-left: 50%; }

  .small-offset-4 {
    margin-left: 66.66667%; }

  .column.small-centered,
  .columns.small-centered {
    display: block;
    float: none;
    margin-right: auto !important;
    margin-left: auto !important; } }
/* --------------
  EDGE Tile
-------------- */
[class*="tile-"] {
  display: block;
  zoom: 1;
  margin-right: -7.5px;
  margin-left: -7.5px; }
  [class*="tile-"]:before, [class*="tile-"]:after {
    content: " ";
    display: table; }
  [class*="tile-"]:after {
    clear: both; }
  [class*="tile-"] > li {
    display: block;
    position: relative;
    float: left; }
  [class*="tile-"] > li {
    padding-right: 7.5px;
    padding-left: 7.5px; }
  [class*="tile-"].collapse {
    margin-right: 0;
    margin-left: 0; }
    [class*="tile-"].collapse > li {
      padding: 0; }

.large-tile-1 > li,
.tile-1 > li {
  width: 100%; }
  .large-tile-1 > li:nth-of-type(1n+1),
  .tile-1 > li:nth-of-type(1n+1) {
    clear: both; }

.large-tile-2 > li,
.tile-2 > li {
  width: 50%; }
  .large-tile-2 > li:nth-of-type(2n+1),
  .tile-2 > li:nth-of-type(2n+1) {
    clear: both; }

.large-tile-3 > li,
.tile-3 > li {
  width: 33.33333%; }
  .large-tile-3 > li:nth-of-type(3n+1),
  .tile-3 > li:nth-of-type(3n+1) {
    clear: both; }

.large-tile-4 > li,
.tile-4 > li {
  width: 25%; }
  .large-tile-4 > li:nth-of-type(4n+1),
  .tile-4 > li:nth-of-type(4n+1) {
    clear: both; }

@media only screen and (max-width: 767px) {
  [class*="tile-"] > li {
    width: 100%; }

  [class*="small-tile-"] > li:nth-child(n) {
    clear: none; }

  .small-tile-1 > li {
    width: 100%; }
    .small-tile-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-tile-2 > li {
    width: 50%; }
    .small-tile-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-tile-3 > li {
    width: 33.33333%; }
    .small-tile-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-tile-4 > li {
    width: 25%; }
    .small-tile-4 > li:nth-of-type(4n+1) {
      clear: both; } }
/* -----------------
  EDGE Visibility
----------------- */
.hide-for-large,
.show-for-small,
.show-for-mini {
  display: none !important; }

.hide-for-small,
.hide-for-mini,
.show-for-large {
  display: inherit !important; }

table.hide-for-large, table.show-for-small, table.show-for-mini {
  display: none !important; }
table.hide-for-small, table.hide-for-mini, table.show-for-large {
  display: table !important; }

thead.hide-for-large, thead.show-for-small, thead.show-for-mini {
  display: none !important; }
thead.hide-for-small, thead.hide-for-mini, thead.show-for-large {
  display: table-header-group !important; }

tbody.hide-for-large, tbody.show-for-small, tbody.show-for-mini {
  display: none !important; }
tbody.hide-for-small, tbody.hide-for-mini, tbody.show-for-large {
  display: table-row-group !important; }

tr.hide-for-large, tr.show-for-small, tr.show-for-mini {
  display: none !important; }
tr.hide-for-small, tr.hide-for-mini, tr.show-for-large {
  display: table-row !important; }

td.hide-for-large, td.show-for-small, td.show-for-mini, th.hide-for-large, th.show-for-small, th.show-for-mini {
  display: none !important; }
td.hide-for-small, td.hide-for-mini, td.show-for-large, th.hide-for-small, th.hide-for-mini, th.show-for-large {
  display: table-cell !important; }

img.hide-for-large, img.show-for-small, img.show-for-mini, span.hide-for-large, span.show-for-small, span.show-for-mini, em.hide-for-large, em.show-for-small, em.show-for-mini, strong.hide-for-large, strong.show-for-small, strong.show-for-mini, sub.hide-for-large, sub.show-for-small, sub.show-for-mini, sup.hide-for-large, sup.show-for-small, sup.show-for-mini, big.hide-for-large, big.show-for-small, big.show-for-mini, small.hide-for-large, small.show-for-small, small.show-for-mini {
  display: none !important; }
img.hide-for-small, img.hide-for-mini, img.show-for-large, span.hide-for-small, span.hide-for-mini, span.show-for-large, em.hide-for-small, em.hide-for-mini, em.show-for-large, strong.hide-for-small, strong.hide-for-mini, strong.show-for-large, sub.hide-for-small, sub.hide-for-mini, sub.show-for-large, sup.hide-for-small, sup.hide-for-mini, sup.show-for-large, big.hide-for-small, big.hide-for-mini, big.show-for-large, small.hide-for-small, small.hide-for-mini, small.show-for-large {
  display: inline-block !important; }

@media only screen and (max-width: 767px) {
  .hide-for-small,
  .show-for-large {
    display: none !important; }

  .show-for-small,
  .hide-for-large {
    display: inherit !important; }

  table.hide-for-small, table.show-for-large {
    display: none !important; }
  table.show-for-small, table.hide-for-large {
    display: table !important; }

  thead.hide-for-small, thead.show-for-large {
    display: none !important; }
  thead.show-for-small, thead.hide-for-large {
    display: table-header-group !important; }

  tbody.hide-for-small, tbody.show-for-large {
    display: none !important; }
  tbody.show-for-small, tbody.hide-for-large {
    display: table-row-group !important; }

  tr.hide-for-small, tr.show-for-large {
    display: none !important; }
  tr.show-for-small, tr.hide-for-large {
    display: table-row !important; }

  td.hide-for-small, td.show-for-large, th.hide-for-small, th.show-for-large {
    display: none !important; }
  td.show-for-small, td.hide-for-large, th.show-for-small, th.hide-for-large {
    display: table-cell !important; }

  img.hide-for-small, img.show-for-large, span.hide-for-small, span.show-for-large, em.hide-for-small, em.show-for-large, strong.hide-for-small, strong.show-for-large, sub.hide-for-small, sub.show-for-large, sup.hide-for-small, sup.show-for-large, big.hide-for-small, big.show-for-large, small.hide-for-small, small.show-for-large {
    display: none !important; }
  img.show-for-small, img.hide-for-large, span.show-for-small, span.hide-for-large, em.show-for-small, em.hide-for-large, strong.show-for-small, strong.hide-for-large, sub.show-for-small, sub.hide-for-large, sup.show-for-small, sup.hide-for-large, big.show-for-small, big.hide-for-large, small.show-for-small, small.hide-for-large {
    display: inline-block !important; } }
@media only screen and (max-width: 480px) {
  .hide-for-mini {
    display: none !important; }

  .show-for-mini {
    display: inherit !important; }

  table.hide-for-mini {
    display: none !important; }
  table.show-for-mini {
    display: table !important; }

  thead.hide-for-mini {
    display: none !important; }
  thead.show-for-mini {
    display: table-header-group !important; }

  tbody.hide-for-mini {
    display: none !important; }
  tbody.show-for-mini {
    display: table-row-group !important; }

  tr.hide-for-mini {
    display: none !important; }
  tr.show-for-mini {
    display: table-row !important; }

  td.hide-for-mini, th.hide-for-mini {
    display: none !important; }
  td.show-for-mini, th.show-for-mini {
    display: table-cell !important; }

  img.hide-for-mini, span.hide-for-mini, em.hide-for-mini, strong.hide-for-mini, sub.hide-for-mini, sup.hide-for-mini, big.hide-for-mini, small.hide-for-mini {
    display: none !important; }
  img.show-for-mini, span.show-for-mini, em.show-for-mini, strong.show-for-mini, sub.show-for-mini, sup.show-for-mini, big.show-for-mini, small.show-for-mini {
    display: inline-block !important; } }
/* ---------------
EDGE Button
--------------- */
button,
.button,
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-weight: 700;
  background-color: #bd653d;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  button:focus,
  .button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus {
    outline: none; }
  button:hover,
  .button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #c6734e; }
  button:active,
  .button:active,
  input[type="submit"]:active,
  input[type="reset"]:active {
    background-color: #aa5b37; }

/* ---------------
EDGE Form
--------------- */
[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
select,
textarea {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid #d7d7d7;
  border-top: 1px solid #cacaca; }
  [type="text"]:hover,
  [type="password"]:hover,
  [type="date"]:hover,
  [type="datetime"]:hover,
  [type="datetime-local"]:hover,
  [type="month"]:hover,
  [type="week"]:hover,
  [type="email"]:hover,
  [type="number"]:hover,
  [type="search"]:hover,
  [type="tel"]:hover,
  [type="time"]:hover,
  [type="url"]:hover,
  select:hover,
  textarea:hover {
    border: 1px solid #bebebe;
    -webkit-box-shadow: inset 0 0 3px #d7d7d7;
    -moz-box-shadow: inset 0 0 3px #d7d7d7;
    box-shadow: inset 0 0 3px #d7d7d7; }
  [type="text"]:focus,
  [type="password"]:focus,
  [type="date"]:focus,
  [type="datetime"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="week"]:focus,
  [type="email"]:focus,
  [type="number"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="url"]:focus,
  select:focus,
  textarea:focus {
    border: 1px solid #bd653d;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }

label {
  display: block;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent; }
  label.prefix, label.postfix {
    border: 1px solid #d7d7d7;
    border-top: 1px solid #cacaca;
    text-align: center;
    color: #333333;
    background: #d7d7d7;
    overflow: hidden; }
  label.prefix {
    border-right: none; }
  label.postfix {
    border-left: none; }

input::-webkit-calendar-picker-indicator {
  display: none; }

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important; }

/* ---------------
  EDGE Animate
--------------- */
[data-animate] {
  visibility: hidden !important; }

.animated {
  visibility: visible !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.fadein {
  -webkit-animation-name: fadein;
  animation-name: fadein; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.animated.fadein-down {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down; }

@-webkit-keyframes fadein-down {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px); }

@keyframes fadein-down {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px); }

.animated.fadein-down-big {
  -webkit-animation-name: fadein-down-big;
  animation-name: fadein-down-big; }

@-webkit-keyframes fadein-down-big {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadein-down-big {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

.animated.fadein-up {
  -webkit-animation-name: fadein-up;
  animation-name: fadein-up; }

@-webkit-keyframes fadein-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadein-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

.animated.fadein-left {
  -webkit-animation-name: fadein-left;
  animation-name: fadein-left; }

@-webkit-keyframes fadein-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadein-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

.animated.fadein-left-big {
  -webkit-animation-name: fadein-left-big;
  animation-name: fadein-left-big; }

@-webkit-keyframes fadein-left-big {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadein-left-big {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

.animated.fadein-right {
  -webkit-animation-name: fadein-right;
  animation-name: fadein-right; }

@-webkit-keyframes fadein-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadein-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

.animated.fadein-right-big {
  -webkit-animation-name: fadein-right-big;
  animation-name: fadein-right-big; }

@-webkit-keyframes fadein-right-big {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    transform: translateX(2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadein-right-big {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    transform: translateX(2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

button, .button, input[type="submit"], input[type="reset"] {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 5px 15px;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

h1, h2, h3 {
  text-transform: uppercase; }
